

:root {
    --c-light-green: #52FFB6;
    --c-dark-green: #031519;
    --c-dark-green-2: #112C32;
    --c-primary-font:  'Inter', Arial, sans-serif;
    --c-primary-text-color: #fff;
}

html {
    font-size: 16px; /* Base font size */
    background-color: var(--c-dark-green);
    color: var(--c-primary-text-color);
}

html, h1, h2, h3, h4, p, .subtitle-1, .subtitle-2, .c-body-l, .c-body-xl {
    font-family: var(--c-primary-font);
    letter-spacing: 0em;
}

h2, h3, h4, .subtitle-1, .subtitle-2 {
    font-weight: 300;
}

.c-body-l, .c-body-xl {
    font-weight: 400;
}

h1 {
    font-size: 4em; /* Equivalent to 64px / 16px */
    font-weight: 200;
    line-height: 120%;
    text-align: left;
}

h2 {
    font-size: 3.5em; /* Equivalent to 56px / 16px */
    line-height: 110%;
    text-align: center;
    color: #fff;
}

h3 {
    font-size: 3em; /* Equivalent to 48px / 16px */
    line-height: 100%;
    text-align: center;
    color: #fff;
}

h4 {
    font-size: 2em; /* Equivalent to 32px / 16px */
    font-weight: 300;
    line-height: 105%;
    text-align: center;
    color: #fff;
}


.subtitle-1 {
    font-size: 1.5em; /* Equivalent to 24px / 16px */
    line-height: 100%;
    text-align: left;
}

.subtitle-2 {
    font-size: 1em; /* Equivalent to 16px / 16px */
    line-height: 100%;
    text-align: left;
}


.c-body-l {
    font-size: 1.5em; /* Equivalent to 24px / 16px */
    font-size: 24px;
    line-height: 130%;
    text-align: left;
}

.c-body-xl {
    font-size: 2em; /* Equivalent to 32px / 16px */
    line-height: 120%;
    letter-spacing: 0em;
    text-align: center;
}

.c-light-green-text {
    color: var(--c-light-green);
}

.c-align-left {
    text-align: left;
}

.c-align-center {
    text-align: center;
}

.mg-horizontal {
    margin-left: 8vw;
    margin-right: 8vw;
}

.text-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 795px;
}



.c-btn {
    background-color: var(--c-light-green);
    border: 1pc solid var(--c-light-green);
    padding: 16px, 24px, 16px, 24px;
    border-radius: 8px;
    color: var(--c-dark-green);
}

.c-step-pill {
    padding: 10px, 24px, 10px, 24px;
    border-radius: 63px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}

/* Example of responsive font -> smaller screen 
TODO: Define breakpoints */
@media (max-width: 768px) {
    html {
        font-size: 14px; /* Adjust the base font size for smaller screens */
    }
}